<h1 style="color:purple; font-family:courier;">Entries</h1>

<ul>
    <% @entries.each do |entry| %>
    <li>
        <%= link_to entry.title, entry %>
    </li>
    <% end %>
</ul>

<%= link_to "New Entry", new_entry_path %>