<h1 style="color:blue; font-family:courier;"> <%= @entry.title %> </h1>


<p><%= @entry.body %></p>

<h4 style="color:blue; font-family:courier;">WORD COUNT: <%= @entry.body.split.size%><h4>

<%= link_to "Main Page", root_path%>